$strongOrange: #d87d4a;
$black: #000000;
$strongGrey: #f1f1f1;
$lightGrey: #fafafa;
$lightOrange: #fbaf85;
$lightBlack: #101010;
$white: #ffffff;
$grey: grey;
$gray: #979797;
$lightGray: #f2f2f2;
$inputBorderColor: #cfcfcf;
