@import "dimensions";
@import "colors";
%commonButtonProp {
  width: 160px;
  height: 48px;
  border: none;
  font-size: $subtitle;
  letter-spacing: $subtitleSpacing;
  font-weight: 700;
  text-transform: uppercase;
}
%commonShopBtnProp {
  font-size: $subtitle;
  font-weight: 700;
  letter-spacing: $subtitleSpacing;
  color: $grey;
  text-transform: uppercase;
  border: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
%commonBlackButtonProp {
  width: 160px;
  height: 48px;
  border: none;
  font-size: $subtitle;
  letter-spacing: $subtitleSpacing;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  background-color: $black;
}
%commonLightButtonProp {
  width: 160px;
  height: 48px;
  border: none;
  font-size: $subtitle;
  letter-spacing: $subtitleSpacing;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
  background-color: transparent;
  border: 1px solid $black;
}
%commonHeader {
  background-color: $black;
  height: 50vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  margin-bottom: 250px;
}
%commonNavBar {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $white;
    width: 80vw;
    height: 96px;
    margin-left: 10vw;
    border-bottom: 1px solid $white;
    padding-bottom: 34px;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      color: $white;
      width: 80vw;
      height: 96px;
      margin-left: 10vw;
      border-bottom: 1px solid $white;
      padding-bottom: 34px;

      h4 {
        text-transform: lowercase;
        width: 143px;
        margin: 0;
      }
      ul {
        display: flex;
        list-style: none;
        gap: 34px;
        font-weight: 700;
        font-size: $subtitle;
        letter-spacing: $h1Spacing;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 6px;
      }
    }

    button {
      background-color: transparent;
      border: none;
      padding-bottom: 10px;
      margin: 0;
    }

    h4 {
      text-transform: lowercase;
      width: 143px;
      margin: 0;
    }
    ul {
      display: flex;
      list-style: none;
      gap: 34px;
      font-weight: 700;
      font-size: $subtitle;
      letter-spacing: $h1Spacing;
      text-transform: uppercase;
      margin: 0;
      padding-bottom: 6px;
    }
  }

  button {
    background-color: transparent;
    border: none;
    padding-bottom: 10px;
    margin: 0;
  }
}
