@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
html {
  font-size: 15px;
  font-weight: normal;
}

body {
  font-family: "Manrope", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 32px;
  letter-spacing: 1.15px;
}

h4 {
  font-size: 28px;
  letter-spacing: 2px;
}

h5 {
  font-size: 24px;
  letter-spacing: 1.7px;
}

h6 {
  font-size: 18px;
  letter-spacing: 1.3px;
}

div {
  font-size: 14px;
  letter-spacing: 10px;
}

p {
  font-size: 15px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body header {
  background-color: #000000;
  height: 50vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  margin-bottom: 250px;
}

body header .container, body .footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #ffffff;
  width: 80vw;
  height: 96px;
  margin-left: 10vw;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 34px;
}
body header .container .container, body .footer .container .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #ffffff;
  width: 80vw;
  height: 96px;
  margin-left: 10vw;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 34px;
}
body header .container .container h4, body .footer .container .container h4 {
  text-transform: lowercase;
  width: 143px;
  margin: 0;
}
body header .container .container ul, body .footer .container .container ul {
  display: flex;
  list-style: none;
  gap: 34px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 6px;
}
body header .container button, body .footer .container button {
  background-color: transparent;
  border: none;
  padding-bottom: 10px;
  margin: 0;
}
body header .container h4, body .footer .container h4 {
  text-transform: lowercase;
  width: 143px;
  margin: 0;
}
body header .container ul, body .footer .container ul {
  display: flex;
  list-style: none;
  gap: 34px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 6px;
}
body header button, body .footer button {
  background-color: transparent;
  border: none;
  padding-bottom: 10px;
  margin: 0;
}

body .footer {
  background-color: #101010;
  height: 50vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  margin-top: 250px;
}
body .footer .container {
  border: none;
}
body .footer .text {
  padding-left: 10vw;
  width: 49%;
  text-align: justify;
}
body .footer .text p {
  color: grey;
}
body .footer .text .copyright {
  margin-top: 50px;
}
body .footer .logo {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10vw;
  transform: translateY(-10vw);
  gap: 15px;
}

body {
  background-color: #f2f2f2;
}
body header {
  height: 15vh;
}
body header .container {
  border-bottom: none;
}
body header h2 {
  color: #ffffff;
  width: 10vw;
  margin-left: 42vw;
  padding-top: 50px;
}
body .content {
  display: grid;
  margin: 0;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 30px;
}
body .content h6 {
  color: #d87d4a;
}
body .content .checkoutTable {
  background-color: #ffffff;
  border-radius: 8px;
  padding-left: 40px;
  padding-right: 40px;
  grid-column: 1/2;
  grid-row: 1/2;
}
body .content .checkoutTable form p {
  font-size: 14px;
  margin: 0;
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: bolder;
}
body .content .checkoutTable form input {
  width: 300px;
  height: 50px;
  padding-left: 20px;
  margin-top: 10px;
  border-radius: 8px;
  margin-bottom: 30px;
  border: solid 1px #cfcfcf;
}
body .content .checkoutTable form .smallContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
body .content .checkoutTable form .adress input {
  width: 630px;
}
body .content .checkoutTable form .paymentDetails {
  position: relative;
}
body .content .checkoutTable form .paymentDetails .payment {
  position: absolute;
  top: 80px;
}
body .content .checkoutTable form .small3 {
  flex-direction: column;
  align-items: flex-end;
}
body .content .checkoutTable form .small3 .eMoney {
  position: relative;
}
body .content .checkoutTable form .small3 .eMoney input {
  border-color: #d87d4a;
}
body .content .checkoutTable form .small3 .eMoney p {
  position: absolute;
  margin: 0;
  left: 50px;
  top: 25px;
}
body .content .checkoutTable form .small3 .eMoney #radioBtnChecked:checked {
  position: absolute;
  accent-color: #d87d4a;
  width: 20px;
  left: 10px;
}
body .content .checkoutTable form .small3 .deliveryCash {
  position: relative;
}
body .content .checkoutTable form .small3 .deliveryCash p {
  position: absolute;
  margin: 0;
  left: 50px;
  top: 25px;
}
body .content .checkoutTable form .small3 .deliveryCash #radioBtn {
  position: absolute;
  width: 20px;
  left: 10px;
}
body .content .checkoutTable form .small4 {
  padding-bottom: 30px;
}
body .content .summary {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #ffffff;
  border-radius: 8px;
}
body .content .back {
  color: #000000;
  position: absolute;
  top: 35vh;
  left: 10vw;
  opacity: 50%;
  margin: 0;
  margin-bottom: 24px;
}
body .footer {
  margin-left: 0;
  margin-top: 250px;
}/*# sourceMappingURL=checkout.css.map */