@import "colors";
@import "typography";
@import "base";
@import "dimensions";
@import "spacings";
@import "extends";
body {
  header {
    @extend %commonHeader;
    @extend %commonNavBar;
    h2 {
      color: $white;
      width: 10vw;
      margin-left: 42vw;
      padding-top: 50px;
    }
  }
  .content {
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: 40vw 20vw 40vw;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    row-gap: 250px;
    .yx1Earphones {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .shopMenu {
      grid-column: 1/2;
      grid-row: 2/3;
      @extend %commonShopMenu;
    }
    .aboutStore {
      grid-column: 1/2;
      grid-row: 3/4;
      @extend %commonAboutStore;
    }
    .yx1Earphones {
      display: flex;
      justify-content: space-between;
      column-gap: 10vw;
      img {
        border-radius: 8px;
      }

      .main {
        display: flex;
        justify-content: center;
        flex-direction: column;

        div,
        h2,
        p {
          margin: 0;
          margin-bottom: 24px;
        }
        div {
          font-weight: 400;
          color: $strongOrange;
        }
        h2 {
          font-weight: 700;
          width: 50%;
        }
        p {
          color: $grey;
        }

        .btnProduct {
          background-color: $strongOrange;
          color: $white;
          @extend %commonButtonProp;
        }
      }
    }
  }
  .footer {
    margin-left: 0;
    @extend %commonFooter;
  }
}
