@import "colors";
@import "typography";
@import "base";
@import "dimensions";
@import "spacings";
@import "extends";

body {
  margin-right: 0;
  .hero {
    background-image: url(../home/desktop/image-hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    header {
      .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: $white;
        width: 80vw;
        height: 96px;
        margin-left: 10vw;
        border-bottom: 1px solid $white;
        padding-bottom: 34px;

        h4 {
          text-transform: lowercase;
          width: 143px;
          margin: 0;
        }
        ul {
          display: flex;
          list-style: none;
          gap: 34px;
          font-weight: 700;
          font-size: $subtitle;
          letter-spacing: $h1Spacing;
          text-transform: uppercase;
          margin: 0;
          padding-bottom: 6px;
        }
      }

      button {
        background-color: transparent;
        border: none;
        padding-bottom: 10px;
        margin: 0;
      }
    }

    .main {
      color: $white;
      margin-left: 10vw;
      margin-top: 10vh;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 30%;

      div,
      h1,
      p {
        margin: 0;
        margin-bottom: 24px;
      }
      div {
        font-weight: 400;
        color: $grey;
      }
      h1 {
        font-weight: 700;
        color: $white;
      }
      p {
        width: 90%;
        color: $white;
      }
    }
    .btnProduct {
      background-color: $strongOrange;
      color: $white;
      @extend %commonButtonProp;
    }
  }
  .shopMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 250px;
    .headphones {
      margin-left: 10vw;
    }
    .earphones {
      margin-right: 10vw;
    }
    .item {
      width: 350px;
      height: 204px;
      background-color: $strongGrey;
      margin-top: 208px;
      position: relative;
      border-radius: 8px;
      .img {
        height: 160px;
        width: 150px;
        bottom: 100px;
        left: 90px;
        margin: 0;
        padding: 0;
        position: absolute;
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        h6 {
          margin-bottom: 20px;
        }
        .shopBtn {
          @extend %commonShopBtnProp;
        }
      }
    }
  }
  .speakersEarphones {
    margin-bottom: 250px;
    img {
      border-radius: 8px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 30px;
        margin-left: 10vw;
        margin-right: 10vw;
      }
    }
    .speakerZx9 {
      background-color: $strongOrange;
      height: 80vh;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      .circles {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 20vw;
        top: calc(-50px);
      }
      .textSpeakers {
        padding-left: 50vw;
        padding-top: 17vh;
        position: relative;
        h1 {
          margin: 0;
          padding: 0;
          color: $white;
          width: 90%;
        }
        p {
          width: 80%;
          color: $white;
          margin-bottom: 30px;
        }
        .blackbtn {
          @extend %commonBlackButtonProp;
        }
      }

      .imgZx9 {
        margin: 0;
        padding: 0;
        height: 420px;
        position: absolute;
        bottom: 0;
        left: 10vw;
      }
    }
    .speakerZx7 {
      position: relative;
      .imgZx7 {
        border-radius: 8px;
        width: 80vw;
      }
      .headZx7 {
        position: absolute;
        top: 7vh;
        left: 7vw;

        .lightBtn {
          @extend %commonLightButtonProp;
        }
      }
    }
    .earphonesYx1 {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    .imgYx1 {
      max-width: 510px;
    }
    .aboutYx1 {
      background-color: $strongGrey;
      width: 100%;
      padding-top: 7vh;
      padding-left: 7vw;
      border-radius: 8px;
    }
    .productBtnLight {
      @extend %commonLightButtonProp;
    }
  }
  .aboutStore {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-between;

    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-right: 7vw;
      p {
        color: $grey;
      }
    }
    .headphonesManImg {
      border-radius: 8px;
    }
  }
  .footer {
    background-color: $lightBlack;
    height: 50vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-top: 250px;

    @extend %commonNavBar;
    .container {
      border: none;
    }
    .text {
      padding-left: 10vw;
      width: 49%;
      text-align: justify;

      p {
        color: $grey;
      }
      .copyright {
        margin-top: 50px;
      }
    }
    .logo {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 10vw;
      transform: translateY(-10vw);
      gap: 15px;
    }
  }
}
