@import "colors";
@import "typography";
@import "base";
@import "dimensions";
@import "spacings";
@import "extends";
@import "mobile-extends";
body {
  header {
    @extend %commonHeaderMobile;
  }
  .content {
    grid-template-rows: 150vw 150vw 150vw;

    .shopMenu {
      grid-column: 1/2;
      grid-row: 2/3;
      @extend %commonShopMenu;
      flex-direction: column;
      align-items: center;
    }
  }
  .footer {
    @extend %commonMobileFooter;
    height: 120vh;
  }
}
