@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
html {
  font-size: 15px;
  font-weight: normal;
}

body {
  font-family: "Manrope", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 56px;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 32px;
  letter-spacing: 1.15px;
}

h4 {
  font-size: 28px;
  letter-spacing: 2px;
}

h5 {
  font-size: 24px;
  letter-spacing: 1.7px;
}

h6 {
  font-size: 18px;
  letter-spacing: 1.3px;
}

div {
  font-size: 14px;
  letter-spacing: 10px;
}

p {
  font-size: 15px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body .hero {
  background-image: url(../home/mobile/image-header.jpg);
  height: 100%;
}
body .hero header .container {
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
}
body .hero header .container .hamburgerIcon {
  padding-left: 5vw;
}
body .hero header .container h4 {
  margin-left: 40%;
  max-width: 143px;
}
body .hero button {
  background-color: transparent;
  border: none;
  padding-bottom: 10px;
  padding-right: 5vw;
  margin: 0;
}
body .hero .main div {
  align-self: center;
  padding-left: 20px;
  margin: 0;
  font-size: 13px;
}
body .hero .main p {
  font-size: 14px;
}
body .hero .main h1 {
  font-size: 32px;
  align-self: center;
  margin: 0;
  transform: translateX(80px);
}
body .hero .main .btnProduct {
  padding: 0;
}
body .shopMenu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 25vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
body .shopMenu .headphones {
  margin-left: 0;
}
body .shopMenu .earphones {
  margin-right: 0;
}
body .shopMenu .item {
  margin-top: 25vh;
  width: 90vw;
  height: 45vh;
}
body .shopMenu .item .img {
  max-width: 45%;
  left: 25vw;
  bottom: 100px;
}
body .shopMenu .item .text {
  margin-top: 120px;
}
body .shopMenu .item .text h6 {
  font-size: 15px;
  font-weight: bold;
}
body .speakersEarphones .speakerZx9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
body .speakersEarphones .speakerZx9 .circles {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: -170px;
}
body .speakersEarphones .speakerZx9 .imgZx9 {
  max-height: 180px;
  max-width: 150px;
  top: 35px;
  left: 37%;
}
body .speakersEarphones .speakerZx9 .textSpeakers {
  transform: translateX(-21vw);
  padding-top: 150px;
}
body .speakersEarphones .speakerZx9 .textSpeakers h1 {
  width: 220px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 32px;
}
body .speakersEarphones .speakerZx9 .textSpeakers p {
  width: 220px;
  text-align: center;
  padding-bottom: 20px;
}
body .speakersEarphones .speakerZx9 .textSpeakers .blackbtn {
  margin-left: 30px;
}
body .speakersEarphones .speakerZx7 .imgZx7 {
  width: 90vw;
}
body .speakersEarphones .speakerZx7 .headZx7 {
  padding-top: 40px;
  top: 25vh;
}
body .speakersEarphones .speakerZx7 .headZx7 h4 {
  font-size: 40px;
  font-weight: bold;
}
body .speakersEarphones .speakerZx7 .headZx7 .lightBtn {
  width: 200px;
  height: 50px;
}
body .speakersEarphones .earphonesYx1 {
  flex-direction: column;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 145vh;
  row-gap: 5vh;
}
body .speakersEarphones .earphonesYx1 .imgYx1 {
  width: 90vw;
  height: 70vh;
}
body .speakersEarphones .earphonesYx1 .aboutYx1 {
  height: 70vh;
}
body .speakersEarphones .earphonesYx1 .aboutYx1 h4 {
  font-size: 40px;
}
body .footer {
  height: 100vh;
}
body .footer .text {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 30vh;
}
body .footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-left: 50px;
}
body .footer .container ul {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin: 0;
  row-gap: 20px;
  text-align: center;
}
body .footer .logo {
  padding-top: 15vh;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}/*# sourceMappingURL=mobile-main.css.map */