@import "typography";
@import "base";
@import "dimensions";
@import "spacings";
@import "extends";
@import "mobile-extends";
body {
  header {
    @extend %commonHeaderMobile;
  }
  .content {
    grid-template-rows: 150vw 150vw 150vw 150vw;
    .main {
      padding-top: 20px;
    }
    .shopMenu {
      flex-direction: column;
      align-items: center;
    }
  }

  .footer {
    @extend %commonMobileFooter;
    height: 120vh;
  }
}
