@import "colors";
@import "typography";
@import "base";
@import "dimensions";
@import "spacings";
@import "extends";
body {
  .shopMenu {
    .item {
    }
  }
  .hero {
    background-image: url(../home/tablet/image-header.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .main {
      margin-left: 50%;
      transform: translateX(-50%);
      padding-bottom: 300px;
      align-items: center;
      margin-top: 20%;
      div {
        width: 250px;
      }
      p {
        text-align: center;
        width: 350px;
        height: 100px;
      }
    }
    header {
      .container {
        margin-left: 5vw;
        margin-right: 5vw;
        width: 90%;
        .hamburgerIcon {
          display: block;
          padding-bottom: 8px;
        }
        h4 {
          transform: translateX(-100px);
        }
        ul {
          li {
            display: none;
          }
        }
      }
    }
  }
}
