@import "colors";
@import "typography";
@import "base";
@import "dimensions";
@import "spacings";
@import "extends";
@import "tablet-extends";
body {
  header {
    @extend %commonHead;
  }
  .content {
    grid-template-columns: 90vw;
    grid-template-rows: 80vw 40vw 80vw;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    row-gap: 100px;
    .yx1Earphones {
      grid-column: 1/2;
      grid-row: 1/2;
      flex-direction: column;
      column-gap: 0;
      .main {
        align-items: center;
        text-align: center;
      }
    }
    .shopMenu {
      grid-column: 1/2;
      grid-row: 2/3;
      @extend %commonShopMenu;
    }
    .aboutStore {
      @extend %commonAboutStore;
    }
  }

  .footer {
    @extend %commonTabletFooter;
    height: 60vh;
  }
}
