@import "colors";
@import "typography";
@import "base";
@import "dimensions";
@import "spacings";
@import "extends";
@import "tablet-extends";
body {
  header {
    @extend %commonHeaderTablet;
  }
  .content {
    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: 80vw;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    row-gap: 100px;

    .xx99Mark2 {
      column-gap: 5vw;

      .main {
        width: 50%;
      }
      .btnCounter {
        margin-bottom: 2vw;
      }
    }
  }
}
