@import "colors";
@import "typography";
@import "base";
@import "dimensions";
@import "spacings";
@import "extends";
body {
  .hero {
    background-image: url(../home/tablet/image-header.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    header {
      .container {
        margin-left: 5vw;
        margin-right: 5vw;
        width: 90%;
        .hamburgerIcon {
          display: block;
          padding-bottom: 8px;
        }
        h4 {
          transform: translateX(-100px);
        }
        ul {
          li {
            display: none;
          }
        }
      }
    }
    .main {
      margin-left: 50%;
      transform: translateX(-50%);
      padding-bottom: 300px;
      align-items: center;
      margin-top: 20%;
      div {
        width: 250px;
      }
      p {
        text-align: center;
        width: 350px;
        height: 100px;
      }
    }
  }
  .shopMenu {
    margin-bottom: 25vh;
    .headphones {
      margin-left: 5vw;
    }
    .earphones {
      margin-right: 5vw;
    }
    .item {
      margin-top: 25vh;
      .img {
        width: 90%;
        left: 2vw;
      }
      .text {
        h6 {
          font-size: $paragSize;
          font-weight: bold;
        }
      }
    }
  }
  .speakersEarphones {
    ul {
      li {
        margin-left: 5vw;
        margin-right: 5vw;
      }
    }
    .speakerZx9 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 130vh;
      .circles {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: calc(-170px);
      }
      .imgZx9 {
        max-height: 230px;
        min-width: 210px;
        top: 70px;
        left: 37%;
      }
      .textSpeakers {
        transform: translateX(-24vw);
        padding-top: 250px;

        h1 {
          width: 320px;
          text-align: center;
          padding-top: 80px;
          padding-bottom: 20px;
        }
        p {
          width: 320px;
          text-align: center;
          padding-bottom: 20px;
        }
        .blackbtn {
          margin-left: 80px;
        }
      }
    }
    .speakerZx7 {
      .imgZx7 {
        width: 90vw;
      }
      .headZx7 {
        padding-top: 40px;
      }
    }
  }

  .aboutStore {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 25vh;
    flex-direction: column-reverse;
    .about {
      text-align: center;
      width: 90%;
      margin-left: 5%;
      h2 {
        width: 80%;
        margin-left: 10%;
      }
      p {
        margin-left: 5%;
        padding-left: 5%;
        height: 20px;
      }
    }
  }

  .footer {
    .text {
      padding-left: 5vw;
    }
    .container {
      margin-left: 5vw;
      padding-top: 30px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      ul {
        padding-left: 0;
      }
    }
  }
}
